{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load filter_cencor %}

{% block title %}
News
{% endblock title %}
{% block content %}
    <h1>Количество всех новостей {{ news|length }}</h1>
    {{ filterset.form.as_p }}
    <form action="" method="get">
       <label for="start">Start date:</label>
       <input type="date" id="start" name="trip-start"
<!--       value="2023-01-01"-->
<!--       min="2023-01-01" max="2024-12-31"-->


       <input type="submit" value="Найти" />
    <hr>
    {% if news %}
    <table>
        <tr>
            <td><p><strong>Заголовок</strong></p></td>
            <td><p><strong>Дата публикации</strong></p></td>
            <td><p><strong>Описание статьи/новости</strong></p></td>
        </tr>
        {% for newss in news %}
        <tr>
            <td>{{ newss.title|cencor }}</td>
            <td>{{ newss.data_creations|date:'d m Y'|year }}</td>
            <td>{{ newss.text|truncatechars:20|cencor }}</td>
         </tr>
        {% endfor %}
    <table/>
    {% else %}
    <h2>Новостей нет</h2>
    {% endif %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
